{% extends 'adminBase.html' %}
{% load staticfiles %}
{% block title %}
<title> {{ title }} </title> 
{% endblock title %}
{% block body %}
<section class="right-part  ">
            <div class="row justify-content-between align-items-center mb-3 animated fadeIn">
                <div class="col-md-auto">
                    <h2>{{ page_title }}</h2>
                </div>
              
                <div class="col-md-auto">
                   
                    <!-- <button type="button" data-operation="create_teacher" data-toggle="modal" class="btn-add-new btn btn-icon btn-lg btn-primary" data-placement="bottom" title="Add New">+</button> -->                    
                </div>
            </div>
            <!-- <div class="acction">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-auto">
                        <span class="text-primary">( <span id="selected_records">0</span> Selected items) </span><span class="text-primary mx-3 ">|</span>
                        <label class="checkbox text-primary " for="groupCheck">
                          <input  name="groupCheck" value="5" id="groupCheck" type="checkbox">
                          <span class="check"></span>  Check All
                        </label>
                        <button type="button" class="btn text-primary btn-transparent single_action action editView" data-action='view' style="display: none;" id="pro_details"><i class="fa fa-eye" aria-hidden="true"></i> View</button>    

                       
                    </div>
                  
                </div>
            </div>   --> 
            <!-- search date wise -->
               
            <div class="row">
                <div class="input-daterange">
                    <div class="col-md-12">
                    
                        <input type="text" name="start_date" id="start_date" class="form-control" />
                    </div>
                    <div class="col-md-12">
                        <input type="text" name="end_date" id="end_date" class="form-control" />
                    </div>      
                    </div>
                    <div class="col-md-4">
                        <input type="button" name="search" id="search" value="Search" class="btn btn-info" />
                    </div>
            </div>
            <br />
            <!-- Search date wise -->

            <div class="table-box animated fadeInRight fix-height">
                <div class="mCustomScrollbar content fluid light" data-mcs-theme="inset-2-dark">
                    <table class="table dataTable table-striped table-bordered table-hover" id="tblCustomer">
                    <thead>
                        <tr>
                            <th>Booking Date</th> 
                            <th>Order ID</th>
                            <th>Pickup Location</th>
                            <th>Supplier</th>
                            <th>Driver</th>
                            
                            <th>Status</th>
                        </tr>
                    </thead>
                </table>                
                </div>
            </div>            
        </section>

        {{app_name}}
<script type="text/javascript">
  {% include './order.js' %}
</script>
{% endblock %}
{% block popup %}

<div class="modal fade bd-example-modal-lg" id="createModal" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document"> 
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_label"></h5> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-window">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="add_popupForm" method="POST" enctype="multipart/form-data" autocomplete="on">
            {% csrf_token %}
                <div id="msg-res" class=""><span class="formResponse"></span></div>
                <div class="edit-data-load-content"><img src="{% static 'images/edit-data-load.gif' %}"></div>
                <div class="modal-body" id="modal_content" style="display: none;">
                    <div class="fixed-width">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="md-form">
                                                <input type="text" id="order_uid" name="order_uid" class="form-control" autocomplete="off">
                                                <label for="order_uid" >Order id</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="md-form">
                                                <input type="text" id="location" name="location" class="form-control" autocomplete="off">
                                                <label for="location" >Pickup Location</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="md-form">
                                                <input type="text" id="supplier_name" name="supplier_name" class="form-control" autocomplete="off">
                                                <label for="supplier_name" >Supplier</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="md-form">
                                                <input type="text" id="driver_name" name="driver_name" class="form-control" autocomplete="off">
                                                <label for="driver_name" >Driver</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="md-form">
                                                <input type="text" id="vehicles_type_name" name="vehicles_type_name" class="form-control" autocomplete="off">
                                                <label for="vehicles_type_name" >Vehicles type name</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="md-form">
                                                <input type="text" id="driver_name" name="driver_name" class="form-control" autocomplete="off">
                                                <label for="driver_name" >Driver</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="md-form">
                                                <input type="text" id="location" name="location" class="form-control" autocomplete="off">
                                                <label for="location" >Pickup Location</label>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id">
                    <img src="{% static 'images/loader.gif'%}" class="btn-loader formloader">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="Submit" class="btn btn-primary" id="submit-btn-form">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>  
{% endblock popup %}
{% block css %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet">
  <link href="{% static 'css/jcrop.css'%}" rel="stylesheet">
  <link href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.bootstrap.css" rel="stylesheet">
  
{% endblock css %}
{% block scripts %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{% static 'js/jcrop.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.js'%}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.js"></script>
    
{% endblock scripts %}
