{% extends 'adminBase.html' %}
{% load staticfiles %}
{% block title %}
<title> {{ title }} </title> 
{% endblock title %}
{% block body %}
<section class="right-part  ">
            <div class="row justify-content-between align-items-center mb-3 animated fadeIn">
                <div class="col-md-auto">
                    <h2>{{ page_title }}</h2>
                </div>
              
                <div class="col-md-auto">
                   
                    <button type="button" data-operation="create_teacher" data-toggle="modal" class="btn-add-new btn btn-icon btn-lg btn-primary" data-placement="bottom" title="Add New">+</button>                    
                </div>
            </div>
            <div class="acction">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-auto">
                        <span class="text-primary">( <span id="selected_records">0</span> Selected of <span class="all-users">{{ allTeacher }}</span> items) </span><span class="text-primary mx-3 ">|</span>
                        <label class="checkbox text-primary " for="groupCheck">
                          <input  name="groupCheck" value="5" id="groupCheck" type="checkbox">
                          <span class="check"></span>  Check All
                        </label>
                        <button type="button" class="btn text-primary btn-transparent single_action action editView" data-action='view' style="display: none;" id="pro_details"><i class="fa fa-eye" aria-hidden="true"></i> View</button>    
 
                        <button type="button" class="btn text-primary btn-transparent single_action action editView" data-action='edit' style="display: none;"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                        <button type="button" class="btn text-primary btn-transparent multi_action action" style="display: none;" data-action="send_cred"  data-title="Would you like to send push notification to all selected records?" data-target="#upRecords" data-toggle="modal" data-value="1"><i class="fa fa-envelope" aria-hidden="true"></i> Send Push Notification</button> 
                        <!-- <button type="button" class="btn text-primary btn-transparent multi_action action" style="display: none;" data-action="is_status"  data-title="Would you like to activate all selected records?" data-target="#upRecords" data-toggle="modal" data-value="1"><i class="fa fa-check" aria-hidden="true"></i> Active</button> 

                        <button type="button" class="btn text-primary btn-transparent multi_action action" style="display: none;" data-action="is_status" data-title="Would you like to block all selected records?" data-target="#upRecords" data-toggle="modal" data-value="0"><i class="fa fa-ban"  aria-hidden="true"></i> Block</button>  -->

                        <button type="button" class="btn text-primary btn-transparent multi_action action" style="display: none;" data-action="rm" data-value="1" data-title="Would you like to delete all selected records?" data-target="#upRecords" data-toggle="modal"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                    </div>
                    <!-- <div class="col-md-auto">
                        <span class="h6">Active Member </span> <span class="text-success h4 all-active-member">{{ totalActive }}</span>
                        <span class="h4 mx-3">|</span>
                        <span class="h6">Blocked Member </span> <span class="text-danger h4 all-deactive-member">{{ totalDeactive }}</span>
                    </div> -->
                </div>
            </div>   

            <div class="table-box animated fadeInRight fix-height">
                <div class="mCustomScrollbar content fluid light" data-mcs-theme="inset-2-dark">
                    <table class="table dataTable table-striped table-bordered table-hover" id="tblCustomer">
                    <thead>
                        <tr>
                            <th>
                              
                            </th> 
                            <th>Message Title</th>
                            <th>Message Body</th>
                            <th>Sent to</th>
                            
                           <!--  <th>Status</th> -->
                        </tr>
                    </thead>
                </table>                
                </div>
            </div>            
        </section>

        {{app_name}}
<script type="text/javascript">
  {% include './push_notifications.js' %}
</script>
{% endblock %}
{% block popup %}

<div class="modal fade bd-example-modal-lg" id="createModal" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document"> 
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_label"></h5> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-window">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="add_popupForm" method="POST" enctype="multipart/form-data" autocomplete="on">
            {% csrf_token %}
                <div id="msg-res" class=""><span class="formResponse"></span></div>
                <div class="edit-data-load-content"><img src="{% static 'images/edit-data-load.gif' %}"></div>
                <div class="modal-body" id="modal_content" style="display: none;">
                    <div class="fixed-width">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="md-form">
                                                <input type="text" id="message_title" name="message_title" class="form-control" autocomplete="off">
                                                <label for="message_title" >Message title <span style="color:#ff0000"> *</span></label>
                                            </div>
                                        </div>
                                        
                                    </div>
                                     <div class="row">
                                        <div class="col-lg-6">
                                            <div class="md-form">
                                                <input type="text" id="message_body" name="message_body" class="form-control" autocomplete="off">
                                                <label for="message_body" >Message body<span style="color:#ff0000"> *</span></label>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="md-form">
                                                <select name="role" id="role" class="form-control"> 
                                                      <option value="0">-- Select Role --</option>
                                                      {% if roles %}
                                                      {% for role in roles %}
                                                          <option value={{role.id}}>{{ role.role_title }}</option>
                                                      {% endfor %}
                                                      {% endif %}
                                                </select><span style="color:#ff0000"> *</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id">
                    <img src="{% static 'images/loader.gif'%}" class="btn-loader formloader">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="Submit" class="btn btn-primary" id="submit-btn-form">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>  
{% endblock popup %}
{% block css %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet">
  <link href="{% static 'css/jcrop.css'%}" rel="stylesheet">
  <link href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.bootstrap.css" rel="stylesheet">
  
{% endblock css %}
{% block scripts %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{% static 'js/jcrop.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.js'%}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.js"></script>
    
{% endblock scripts %}
